.bump-top {
  margin-top: 30px; 
}

.api-box, .social-box {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.add-api-button {
  display: inline-block;
  padding: 6px 12px;
  /* border: 1px solid black; 
     box-sizing: border-box;
     text-align: center;
     padding-top: 7px;
     border-radius: 4px;
     background-color: rgb(33, 117, 155);
     background-image: linear-gradient(rgb(42, 149, 197), rgb(33, 117, 155)); */
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 23px;
  height: 24px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f3f3;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
  background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
  background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);
  background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);
  background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);
  border-color: #bbb;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background-color: #21759b;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
  background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
  background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
  background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
  background-image: -o-linear-gradient(top,#2a95c5,#21759b);
  background-image: linear-gradient(to bottom,#2a95c5,#21759b);
  border-color: #21759b;
  border-bottom-color: #1e6a8d;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.add-api-button:hover {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 23px;
  height: 24px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #21759b;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
  background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
  background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
  background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
  background-image: -o-linear-gradient(top,#2a95c5,#21759b);
  background-image: linear-gradient(to bottom,#2a95c5,#21759b);
  border-color: #21759b;
  border-bottom-color: #1e6a8d;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  background: #f3f3f3;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f3f3f3));
  background-image: -webkit-linear-gradient(top,#fff,#f3f3f3);
  background-image: -moz-linear-gradient(top,#fff,#f3f3f3);
  background-image: -ms-linear-gradient(top,#fff,#f3f3f3);
  background-image: -o-linear-gradient(top,#fff,#f3f3f3);
  background-image: linear-gradient(to bottom,#fff,#f3f3f3);
  border-color: #999;
  color: #222;
  background-color: #278ab7;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#2e9fd2),to(#21759b));
  background-image: -webkit-linear-gradient(top,#2e9fd2,#21759b);
  background-image: -moz-linear-gradient(top,#2e9fd2,#21759b);
  background-image: -ms-linear-gradient(top,#2e9fd2,#21759b);
  background-image: -o-linear-gradient(top,#2e9fd2,#21759b);
  background-image: linear-gradient(to bottom,#2e9fd2,#21759b);
  border-color: #1b607f;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.add-api-button:active, .add-api-button:focus {
  outline: 0;
  background: #eee;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#fefefe));
  background-image: -webkit-linear-gradient(top,#f4f4f4,#fefefe);
  background-image: -moz-linear-gradient(top,#f4f4f4,#fefefe);
  background-image: -ms-linear-gradient(top,#f4f4f4,#fefefe);
  background-image: -o-linear-gradient(top,#f4f4f4,#fefefe);
  background-image: linear-gradient(to bottom,#f4f4f4,#fefefe);
  border-color: #999;
  color: #333;
  text-shadow: 0 -1px 0 #fff;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0,0,0,0.5);
  background: #1b607f;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#21759b),to(#278ab7));
  background-image: -webkit-linear-gradient(top,#21759b,#278ab7);
  background-image: -moz-linear-gradient(top,#21759b,#278ab7);
  background-image: -ms-linear-gradient(top,#21759b,#278ab7);
  background-image: -o-linear-gradient(top,#21759b,#278ab7);
  background-image: linear-gradient(to bottom,#21759b,#278ab7);
  border-color: #124560 #2382ae #2382ae #2382ae;
  color: rgba(255,255,255,0.95);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.api-item {
  display: inline-block;
  width: 270px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 12px 0px 20px 16px;
  text-align: left;
  position: relative;
}

.api-item input, .apiEditBox input {
  margin-bottom: 10px;
}

.api-item-close {
  border: 1px solid #dfdfdf;
  display: inline-block;
  padding: 10px;
  line-height: 5px;
  border-radius: 50%;
  color: red;
  position: absolute;
  background-color: #fff;
  top: -12px;
}

.api-item-close:hover {
  cursor: pointer;
  background: red;
  color: white;
}

.api-item-close:active, .api-item-close:focus {
  background: rgb(255, 150, 150);
}

.update {
  right: -12px;
}


.api-results-box {
  border: 1px solid #bbb;
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
}

.geo-admin-section-header {
  background-color: #dfdfdf;
  height: 100%;
  padding: 10px 0 10px 10px;
  margin-top: 0;
  border-bottom: 1px solid #bbb;
}

.geo-admin-section-body {
  box-sizing: border-box;
  padding: 0 10px;
  word-wrap: break-word;  
}

.geo-admin-section-body:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

.geo-admin-section-body p span {
  font-weight: bold;
}

.geo-admin-section-body a {
  display: inline-block;
  margin-bottom: 5px;
}

#geo-social-overlay {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9990;
}

.apiEditBox {
  display: inline-block;
  width: 330px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 200px;
  z-index: 9999;
  box-sizing: border-box;
  padding: 30px;
}

.apiEditBox form input[type=submit] {
  margin-top: 10px;
}

.apiEditBox form label:after {
  content: ' *';
  color: red;
}

.delete {
  text-align: center;
  padding-top: 10px;
}

.cancelButton {
  font-size: 11px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  border: 1px solid #dfdfdf;
  display: inline-block;
  margin-left: 10px;
  border-radius: 4px;
}

.cancelButton:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

.cancelButton:active, .cancelButton:focus {
  background-color: rgb(250,250,250);
}
